.page{
    padding: 25px 20px;
    font-family: helvetica;
}
.head{
padding-bottom: 30px;
}
h1{
    font-size: 27px;
    margin: 0;
    padding-top:170PX ;
}
.content-button{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border:1px solid darkgrey ;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 0px 15px;
}
h4{
    margin-top: o;
    margin-bottom: 5px;
    font-size: 20px;
}
.a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bouton1{
    border: 1px solid darkgrey;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    background-color: indigo;
    opacity: o.5;
}

.bouton2{
    border: 1px solid darkgrey;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    background-color:gray ;
    opacity: 0.5;
}
.bouton3{
    width: 110px;
    height: 250px;
    border: 1px solid darkgray;
    margin-right: 10px;
    border-radius: 20px;
    text-align: left;
    align-items: unset;

}